body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background-color: #000;
  color: #e2e8f0;
}

main {
  max-width: 800px;
  margin: 100px auto 60px;
  padding: 0 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181818;
  padding: 1rem 2rem;
}

.logo, .navbar h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #38bdf8;
  margin: 0;
}

/* Navigation links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  text-decoration: none;
  background-color: #1F1F1F;
  color: #38bdf8;
  border-radius: 8px;
  border: 2px solid #38bdf8;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.nav-links li a:hover {
  background-color: #f97316;
  color: white;
  border-color: #f97316;
  cursor: pointer;
}


h2 {
  text-align: center;
  color: #38bdf8;
  font-size: 28px;
  margin-bottom: 40px;
}

.about-paragraph {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 1.8em;
  text-align: center;
  line-height: 6;
}

/* Footer styling */
footer {
  text-align: center;
  padding: 30px 0;
  font-size: 14px;
  color: #666;
}
